*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    height: 100vh;
}

/* NAVBAR */

.navbar{
    height: 10vh;
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas: "logo menu";
    grid-template-columns: 1fr 4fr;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar h1{
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: menu;
}


.nav a{
    color: white;
}

/* BANNER */

.hero-banner{
    color: white;
    background-color: black;
    font-size: 4rem;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.bg{
    opacity: 0.5;
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.title{
    position: relative;
    animation: slidein 0.6s;
}

@keyframes slidein {
    from {
      transform: translateY(30%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

/* POSTS */

.main-grid{
    display: grid;
    grid-template-areas: ". main .";
    grid-template-columns: 1fr 5fr 1fr;
}

.main{
    grid-area: main;
}

.month{
    margin-top: 60px;
    margin-bottom: 30px;
    border: 1px solid gray;
    background-color: lightgrey;
    font-size: 1.5rem;
    padding: 10px;

}

.card{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-bottom: 2px solid lightgray;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.card-text{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read-button{
    background-color: orange;
    border: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 10vw;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;

}

.read-button:hover{
    background-color: lightpink;
    transition: ease-in 0.3s;
}

/* FOOTER */

.footer-container{
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas: ". footer .";
    grid-template-columns: 1fr 5fr 1fr;
    padding: 60px 0;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

.map img {
	width: 30vw;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-col h3{
    font-size: 1.5rem;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
}